.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-left {
    .logo {
      @include pos-center;

      a {
        display: block;
      }
      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }
  }

  &-right {
    .gnb-btn-group {
      @include flexbox(end);
    }

    .gnb-icon-btn.is-search {
      margin-right: 4px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);
      .logo {
        position: static;
        transform: none;
        margin-right: 32px;

        img {
          height: 24px;
        }
      }
    }

    &-right {
      @include flexbox(end);
      .gnb-icon-btn.is-search {
        margin-right: 8px;
      }

      .gnb-btn-group {
        margin-right: 24px;

        .gnb-auth {
          @include flexbox(between);
          margin-left: 8px;

          a {
            @include text-style(14, $secondary);
            display: block;
            font-weight: 700;
            transition: color 100ms ease-in-out;

            &:first-child {
              margin-right: 12px;
            }

            &:hover {
              color: $blue;
            }
          }
        }
      }
    }

    &-icon-btn {
      margin-right: 8px;
    }

    &-write-btn {
      padding-left: 14px;

      i {
        padding-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        width: 264px;
        margin-right: 24px;
      }
    }
  }
}
